#Define source ,sink and channels
a1.sources = r1
a1.sinks = k1
a1.channels = c1

a1.sources.r1.type = exec
a1.sources.r1.shell = /bin/bash -c
a1.sources.r1.command = sh /root/flumee/catdata.sh
a1.soruces.ri.maxBatchDurationMillis = 200000
#a1.sources.r1.batchSize=40
a1.sources.r1.interceptors = a
a1.sources.r1.interceptors.a.type = org.apache.flume.interceptor.TimestampInterceptor$Builder

# Describe the sink

a1.sinks.k1.type = hdfs
a1.sinks.k1.channel = c1
#a1.sinks.k2.hdfs.batchSize = 40
a1.sinks.k1.hdfs.rollCount = 40
a1.sinks.k1.hdfs.rollSize = 1000000
a1.sinks.k1.hdfs.rollInterval = 40
a1.sinks.k1.hdfs.fileType = DataStream
a1.sinks.k1.hdfs.writeFormat = Text
a1.sinks.k1.hdfs.path = /flume/Salida/%Y%m%d%H%M

# Use a channel which buffers events in memory
a1.channels.c1.type = memory
a1.channels.c1.capacity = 1000
a1.channels.c1.transactionCapacity = 100

# Bind the source and sink to the channel
a1.sources.r1.channels = c1

